<div data-role="subscription-checkbox">
    <div class="subscription-checkbox fieldset" data-bind="visible: aggregateResult()">
        <div class="subscription-checkbox field choice required">
            <input type="checkbox" class="checkbox required-entry" name="subscribecheckbox" id="subscribecheckbox"
                   data-validate='{"required":true"}' data-bind='checked: CheckVal'/>
            <label class="label" for="subscribecheckbox">
                <span data-bind="i18n: 'I acknowledge my credit card data will be stored and charged for recurring subscription orders.'"></span>
            </label>
        </div>
    </div>
</div>
