<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="ordergroove_checkconnection" frontName="ordergroove_checkconnection">
            <module name="Ordergroove_Subscription" before="Magento_Backend" />
        </route>
        <route id="ordergrooveadmin" frontName="ordergrooveadmin">
            <module name="Ordergroove_Subscription"/>
        </route>
    </router>
</config>
